.a-userInput {
  overflow-x: hidden; }

.a-inlineTitle {
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline; }

.a-pageTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  min-height: 4.2rem;
  justify-content: center; }
  .a-pageTitle__input {
    display: flex;
    flex-direction: row;
    align-items: center; }

.a-title {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  white-space: nowrap; }
  .a-title--inline {
    display: inline; }
  .a-title--large {
    font-size: 2rem; }

.a-lesserText {
  color: #797979;
  font-size: 0.65rem; }
  .a-lesserText a {
    color: #797979; }

.a-logo {
  font-size: 25px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem; }
  .a-logo:hover {
    text-decoration: none; }
  .a-logo--1st.span {
    color: #fff200 !important; }
  .a-logo--2nd.span {
    color: #fff200 !important; }

.a-banner {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  padding: 0.3rem;
  text-transform: capitalize; }
  .a-banner--gradientSecondary {
    background-color: #ffbd00;
    background-image: linear-gradient(to right, #ffffff, #ffbd00, #ffffff);
    color: #000000; }

.a-awardLink {
  resize: none;
  overflow: hidden;
  line-break: anywhere; }

.a-newAwardsBadge {
  padding: 0.4rem;
  border-radius: 0.2rem;
  color: #7a00ff;
  box-shadow: 0 0 3pt 1pt #7a00ff; }

.a-clickableText {
  color: #9100ff;
  cursor: pointer; }

.a-linkText__yellow a {
  color: #fff200; }

.a-linkText__indigo a {
  color: #9100ff; }

.a-fullPageText {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .a-fullPageText > * {
    text-align: center;
    max-width: 70%; }

.a-input {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .a-input__button2 {
    margin-left: 1rem; }
  .a-input__buttonGroup {
    display: flex;
    flex-direction: row;
    margin-left: 1rem; }
    @media (max-width: 750px) {
      .a-input__buttonGroup {
        margin-top: 1rem;
        margin-left: 0; } }
  .a-input--active {
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: flex-end; }
    @media (max-width: 750px) {
      .a-input--active {
        flex-direction: column;
        align-items: flex-start; } }
  .a-input__error {
    color: #ff0000;
    margin-top: 1rem; }

.a-link--noUnderline:hover {
  text-decoration: none; }

.a-competitionHeaderMsg {
  color: #000000; }

#a-competitionPageTitle .MuiTypography-root {
  color: #000000;
  font-weight: 700; }

.a-entrySubmitted {
  color: #00c300;
  font-weight: 900 !important; }

.a-competitionSelectionText {
  color: #c30034; }
