.u-justifySpaceAround {
  justify-content: space-around; }

.u-flex {
  display: flex; }

.u-flexColumn {
  display: flex;
  flex-direction: column; }

.u-flexRow {
  display: flex;
  flex-direction: row; }

.u-justifyContentSpaceAround {
  justify-content: space-around; }

.u-justifyContentSpaceBetween {
  justify-content: space-between; }

.u-justifyContentCenter {
  justify-content: center; }

.u-flexEnd {
  display: flex;
  justify-content: flex-end; }

.u-flexGrow {
  display: flex;
  flex-grow: 1; }

.u-alignCenter {
  align-items: center; }

.u-alignItemsCenter {
  align-items: center; }
