.u-marginRight {
  margin-right: 1rem; }
  .u-marginRight--medium {
    margin-right: 2rem; }

.u-marginLeft {
  margin-left: 1rem; }
  .u-marginLeft--medium {
    margin-left: 2rem; }

.u-marginBottom {
  margin-bottom: 1rem; }

.u-marginTop {
  margin-top: 1rem; }

.u-marginVertical {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .u-marginVertical--medium {
    margin-top: 2rem;
    margin-bottom: 2rem; }
