.u-sticky {
  position: fixed; }
  .u-sticky--bottom {
    bottom: 0; }
  .u-sticky--bottomWithBorder {
    bottom: -1px; }

.u-fullWidth {
  width: 100%; }

.u-centered {
  display: flex;
  align-items: center;
  justify-content: center; }
