.u-marginRight {
  margin-right: 1rem; }
  .u-marginRight--medium {
    margin-right: 2rem; }

.u-marginLeft {
  margin-left: 1rem; }
  .u-marginLeft--medium {
    margin-left: 2rem; }
  .u-marginLeft--small {
    margin-left: 0.5rem; }

.u-marginBottom {
  margin-bottom: 1rem; }
  .u-marginBottom--small {
    margin-bottom: 0.5rem; }
  .u-marginBottom--medium {
    margin-bottom: 2rem; }
  .u-marginBottom--large {
    margin-bottom: 4rem; }

.u-marginTop {
  margin-top: 1rem; }
  .u-marginTop--small {
    margin-top: 0.5rem; }
  .u-marginTop--medium {
    margin-top: 2rem; }
  .u-marginTop--large {
    margin-top: 4rem; }

.u-marginVertical {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .u-marginVertical--medium {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .u-marginVertical--large {
    margin-top: 4rem;
    margin-bottom: 4rem; }

.u-marginHorizontal {
  margin-left: 1rem;
  margin-right: 1rem; }
  .u-marginHorizontal--small {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .u-marginHorizontal--medium {
    margin-left: 2rem;
    margin-right: 2rem; }

.u-padding {
  padding: 1rem; }

.u-margin {
  margin: 1rem; }
