@import './variables.scss';
@import './mixins.scss'; 

// atoms
@import './atoms/button.scss';
@import './atoms/graph.scss';
@import './atoms/text.scss';
@import './atoms/icon.scss';
@import './atoms/boundary.scss';

// molecules
@import './molecules/list.scss';
@import './molecules/nav.scss';
@import './molecules/track.scss';
@import './molecules/menu.scss';
@import './molecules/track-status.scss';
@import './molecules/notification.scss';
@import './molecules/backdrop.scss';
@import './molecules/tab.scss';
@import './molecules/dialog.scss';
@import './molecules/dropzone.scss';
@import './molecules/link.scss';
@import './molecules/message.scss';
@import './molecules/award.scss';
@import './molecules/chart.scss';
@import './molecules/progress-bar.scss';
@import './molecules/competition-stats.scss';
@import './molecules/footer.scss';

// organisms
@import './organisms/chart.scss';
@import './organisms/matchup-info.scss';
@import './organisms/page.scss';
@import './organisms/player.scss';
@import './organisms/matchup-init-container.scss';
@import './organisms/winner-player-container.scss';

// utils
@import './utils/color.scss';
@import './utils/position.scss';
@import './utils/border.scss';
@import './utils/flexbox.scss';
@import './utils/size.scss';
@import './utils/spacing.scss';
@import './utils/animation.scss';
@import './utils/text.scss';
@import './utils/visibility.scss';

// misc
@import './firebase-auth.scss';

// overrides
@import './overrides.scss';

html, 
body, 
#root, 
.app-wrapper {
    height: 100%;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    background-color: $white;
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint2) {
        font-size: 16px;
    }
}

.app-body {
    flex-grow: 1;
    z-index: 1; 
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: underline;
    }
}

.btn {
    margin: 10px;
}

#bottom-nav-spacer {
    height: 56px;
    z-index: -9999;
}

#bottom-nav-container {
    z-index: 1100;
}

#bottom-comp-winner-spacer {
    height: 230px;
}

#bottom-comp-matchup-spacer {
    height: 184px;
}

#home-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/banner-comp.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 4rem;

    #app-title {
        margin-bottom: 2rem !important;
        font-weight: 700 !important;
    }

    
    #app-slogan {
        font-weight: 700 !important;
        margin-bottom: 1rem !important;
    }

    @media (min-width: $breakpoint2) {
        padding-top: 6rem;
        padding-bottom: 6rem;

        margin-bottom: 3rem !important;

        #app-description {
            width: 40%;
        }
    }
}