@mixin centerVerticalHorizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin borderMixin {
    border: 1px black solid;
}

@mixin padding($padding: 1rem) {
    padding: $padding;
}

@mixin paddingHorizontal($padding: 1rem) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin paddingVertical($padding: 1rem) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin paddingBottom($margin: 1rem) {
    padding-bottom: $margin;
}

@mixin margin($margin: 1rem) {
    margin: $margin;
}

@mixin marginHorizontal($margin: 1rem) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin marginTop($margin: 1rem) {
    margin-top: $margin;
}

@mixin marginBottom($margin: 1rem) {
    margin-bottom: $margin;
}

@mixin marginVertical($margin: 1rem) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin marginLeft($margin: 1rem) {
    margin-left: $margin;
}

@mixin borderRadius($border-radius: 0.2rem) {
    border-radius: $border-radius;
}

@mixin width($width: 1rem) {
    width: $width;
}

@mixin flexRow() {
    display: flex;
    flex-direction: row;
}