$black: #000000;
$white: #ffffff;
$blue: #005dc7;
$indigo: #9100ff;

$red: #ff0000;
$orange: #ffa500;

$grey1: #9b9b9b;

$darkGrey:#797979;
$darkGrey2:#2b2b2b;
$lightGrey: #f7f7f7;
$lightGrey2: #f5f5f5;
$lightGrey3: #e2e2e2;
$lightGrey4: #d9d9d9;
$lightGrey5: #f8f8f8;
$lightIndigo: #dcdcff;

$lightBlue: #aeccfc;
$lightBlue2: #a7c2f4;
$lightBlue3: #00a1ff;
$skyBlue: #9ff2fe;
$gradient1: #843eff;
$gradient2: #a5e2ff;
$gradient2Start: #101346;
$gradient2End: #3956e2;
$logoBlue: #0b9cfe;
$bright-blue: #2f82ff;
$deep-purple: #631cb7;
$yellow: #fff200;
$darkYellow: #baae22;

$darkBlue: #1c1a7b;
$brightGreen: #00ff74;

// #colorFlow
$playerRed: #544242;
$playerPurple: #4f4254;
$playerBlue: #30353b;
$playerAqua: #424a54;
$playerGreen: #425443;
$playerYellow: #525442;
$playerOrange: #544b42;

// notifications
$infoBlue: #005dc7;
$successGreen: #009c1d;

$darkRed: #8a002d;
$darkGreen: #009c1d;
$successGreen: #00c300;

// messages
$messageSuccessGreen: #d5ffcf;

$gradientSecondaryStart: #8a002d;
$gradientSecondaryEnd: #ff0075;
$errorRed: #d32f2f;
$logoRed: #ff2e2e;

// awards
$gold: #ffbd00;
$silver: #9e9e9e;
$bronze: #ac7700;
$purple: #7a00ff;
$green1: #ffe46e;


$litmusBlueLight: #9fe5fe;
$litmusRedLight: #f4a4d5;
$litmusYellowLight: #f4efa4;
$litmusGreenLight: #9ffeb1;

$breakpoint2: 750px;
$breakpoint3: 1024px;

$transparent: rgba(0,0,0,0);

$transitionTime: "2s";

// Official colors:

$primary: #f8ff54;
$primaryHover: #b8be3e;
$secondary: #00ffaa;
$secondaryHover: #008d5e;
$offPrimary: #cfff00;

// Nav
$navBackgroundColor: #2e2e2e;
$navSecondaryColor: #a8a8a8;