@import '../variables.scss';

.primaryGradient {
    background-image: linear-gradient($gradient1, $gradient2);

    &--override {
        background-image: linear-gradient($gradient1, $gradient2);
    }
}

.u-secondaryGradient {
    background-image: linear-gradient(to right, $gradient2Start , $gradient2End);
    background-color: $gradient2End;
}

.u-colorWhite {
    color: $white;
}

.u-colorRed {
    color: $red;
}

.u-colorDarkRed {
    color: $darkRed;
}

.u-colorSuccessGreen {
    color: $successGreen;
}

.u-backgroundColorLightGrey {
    background-color: $lightGrey2;
}

.u-colorGold {
    color: $gold;
}

.u-colorPurple {
    color: $purple;
}

.u-colorSilver {
    color: $silver;
}

.u-colorBronze {
    color: $bronze;
}

.u-colorBrightGreen {
    color: $brightGreen;
}

.u-backgroundColorDarkTransparent {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

.u-colorLightblue3 {
    color: $lightBlue3;
}