@import '../mixins.scss';

.u-sticky {
    position: fixed;

    &--bottom {
        bottom: 0;
    }

    &--bottomWithBorder {
        bottom: -1px;
    }    
}

.u-fullWidth {
    width: 100%;
}

.u-centered {
    @include centerVerticalHorizontal;
}