@import '../mixins.scss'; 

.u-marginRight {
    margin-right: 1rem;

    &--medium {
        margin-right: 2rem;
    }
}

.u-marginLeft {
    margin-left: 1rem;

    &--medium {
        margin-left: 2rem;
    }

    &--small {
        margin-left: 0.5rem;
    }
}

.u-marginBottom {
    margin-bottom: 1rem;
    
    &--small {
        @include marginBottom(0.5rem);
    }

    &--medium {
        @include marginBottom(2rem);
    }

    &--large {
        @include marginBottom(4rem);
    }
}

.u-marginTop {
    @include marginTop;
    
    &--small {
        @include marginTop(0.5rem);
    }

    &--medium {
        @include marginTop(2rem);
    }

    &--large {
        @include marginTop(4rem);
    }
}

.u-marginVertical {
    @include marginVertical;

    &--medium {
        @include marginVertical(2rem);
    }

    &--large {
        @include marginVertical(4rem);
    }    
}

.u-marginHorizontal {
    @include marginHorizontal;
    
    &--small {
        @include marginHorizontal(0.5rem);
    }

    &--medium {
        @include marginHorizontal(2rem);
    }
}

.u-padding {
    @include padding;
}

.u-margin {
    @include margin();
}