@import '../mixins.scss';
@import '../variables.scss';

.a-userInput {
    overflow-x: hidden;
}

.a-inlineTitle {
    @include marginHorizontal;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline;
}

.a-pageTitle {
    @include marginTop;
    @include marginBottom;
    @include marginHorizontal;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    min-height: 4.2rem;
    justify-content: center;

    &__input {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.a-title {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    white-space: nowrap;

    &--inline {
        display: inline;
    }

    &--large {
        font-size: 2rem;
    }
}

.a-lesserText {
    color: $darkGrey;
    font-size: 0.65rem;

    & a {
        color: $darkGrey;
    }
}


.a-logo {
    font-size: 25px;
    font-weight: bold;
    border-radius: 3px;
    @include padding(0.5rem);

    &:hover {
        text-decoration: none;
    }

    &--1st.span {
        color: $yellow !important;
    }

    &--2nd.span {
        color: $yellow !important;
    }    
}

.a-banner {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    padding: 0.3rem;
    text-transform: capitalize;

    &--gradientSecondary {
        background-color: $gold;
        background-image: linear-gradient(to right, $white, $gold, $white);
        color: $black;
    }
}

.a-awardLink {
    resize: none;
    overflow: hidden;
    line-break: anywhere;
}

.a-newAwardsBadge {
    @include padding(0.4rem);
    @include borderRadius();
    color: $purple;
    box-shadow: 0 0 3pt 1pt $purple;    
}

.a-clickableText {
    color: $indigo;
    cursor: pointer;
}

.a-linkText {
    &__yellow {
        a {
            color: $yellow;
        }
    }

    &__indigo {
        a {
            color: $indigo;
        }
    }
}

.a-fullPageText {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        text-align: center;
        max-width: 70%;
    }
}

.a-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__button2 {
        margin-left: 1rem;
    }

    &__buttonGroup {
        display: flex;
        flex-direction: row;
        @include marginLeft;

        @media (max-width: $breakpoint2) {
            @include marginTop;
            margin-left: 0;
        }
    }

    &--active {
        @include marginBottom;
        @include marginTop;
        align-items: flex-end;
        
        @media (max-width: $breakpoint2) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__error {
        color: $red;
        @include marginTop;
    }
}

.a-link {
    &--noUnderline:hover {
        text-decoration: none;
    }
}

.a-competitionHeaderMsg {
    color: $black;
}

#a-competitionPageTitle .MuiTypography-root {
    color: $black;
    font-weight: 700;
}

.a-entrySubmitted {
    color: #00c300;
    font-weight: 900 !important;
}

.a-competitionSelectionText {
    color: #c30034;
}