.o-player {
  display: flex;
  flex-direction: column; }
  .o-player__body {
    display: flex;
    flex-direction: column;
    background-color: #30353b;
    box-sizing: border-box;
    position: fixed;
    bottom: 56px;
    left: 0;
    right: 0;
    width: 100%;
    border-top: #000000 0.5px solid;
    box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12); }
    .o-player__body--multiTrack {
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (min-width: 750px) {
        .o-player__body--multiTrack {
          display: flex;
          flex-direction: row; } }
  .o-player__header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: baseline; }
    .o-player__header__text {
      color: #000000; }
