@import '../mixins.scss';
@import '../variables.scss';

.o-chart {
    width: 80%;
    @include marginHorizontal;

    @media (max-width: $breakpoint2) {
        width: 100%;
    }

    &__header {
        @include marginVertical;
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }
}

