@import '../mixins.scss';

.o-page {
    @include flexColumn;
    @include padding;
    flex-grow: 1;

    &__content {
        @include flexColumn;
        flex-grow: 1;
    }
}

.o-signInPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-trackView {
    @include paddingBottom;
}
