.competition-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #9ffeb1, #ffffff);
  background-color: #9ffeb1; }
