.m-award {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .m-award__info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem; }
  .m-award__badge {
    margin-right: 2rem; }
    .m-award__badge img {
      height: 4rem;
      border-radius: 4rem; }

.m-awardDescription img {
  max-width: 100%; }
