.m-footer {
  background-color: #2e2e2e;
  color: #a8a8a8;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem; }
  .m-footer--bottom {
    bottom: 0; }
  .m-footer--bottomWithBorder {
    bottom: -1px; }
  .m-footer a {
    color: #a8a8a8; }
