.m-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly; }
  .m-menu__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    flex-wrap: wrap; }
  .m-menu__item {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline; }
