@import '../mixins.scss';
@import '../variables.scss';

.m-award {
    @include paddingVertical(1rem);

    &__info {
        display: flex;
        flex-direction: column;
        @include marginLeft;
    }

    &__badge {
        margin-right: 2rem;

        & img {
            height: 4rem;
            border-radius: 4rem;
        }
    }
}

.m-awardDescription {
    & img {
        max-width: 100%;
    }
}