.m-backdrop {
    z-index: 1;

    &__card {
        margin: 20px;
        padding: 20px;
    }

    & .MuiBackdrop-root {
        // Ensure backdrop does not overlap nav menus
        top: 56px !important;
        bottom: 56px !important;
    }
}