@import '../mixins.scss';

.m-dialog {
    @include padding;

    &__header { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__closeBtn { 
        display: flex;
        justify-content: flex-end;
    }
}