@import '../variables.scss';
@import '../mixins.scss';

.m-footer {
    background-color: $navBackgroundColor;
    color: $navSecondaryColor;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    @include padding(0.5rem);

    &--bottom {
        bottom: 0;
    }

    &--bottomWithBorder {
        bottom: -1px;
    }

    & a {
        color: #a8a8a8;
    }
}