@import '../mixins.scss';
@import '../variables.scss';

.m-menu {
    @include centerVerticalHorizontal;
    flex-direction: column;
    justify-content: space-evenly;

    &__row {
        @include flexColumn;
        width: 100%;
        justify-content: left;
        flex-wrap: wrap;
    }

    &__item {
        @include marginBottom;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
    }
}