@import '../variables.scss';
@import '../mixins.scss';

.m-message {
    @include padding();
    @include borderRadius();
    color: $black

    &--error {
        background-color: $errorRed;
    }

    &--info {
        background-color: $lightIndigo;
    }
        
    &--success {
        background-color: $messageSuccessGreen;
        color: $black;
    }
}